<main>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Content/Images/img0.jpg" class="d-block w-100 main_banner_img">
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Content/Images/img1.jpg" class="d-block w-100 main_banner_img">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Content/Images/img2.jpg" class="d-block w-100 main_banner_img">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Content/Images/img3.jpg" class="d-block w-100 main_banner_img">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fourth slide label</h5>
                    <p>Some representative placeholder content for the fourth slide.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="component_section">
        <div class="component_head">
            <ul class="genre_title">
                <li class="genre_title_item">
                    <h2 class="title">로맨스</h2>
                </li>
            </ul>
            <ul class="genre_title">
                <li class="genre_title_item">
                    <h2 class="title">로판</h2>
                </li>
            </ul>
            <ul class="genre_title">
                <li class="genre_title_item">
                    <h2 class="title">판타지</h2>
                </li>
            </ul>
            <ul class="genre_title">
                <li class="genre_title_item">
                    <h2 class="title">무협</h2>
                </li>
            </ul>
            <ul class="genre_title">
                <li class="genre_title_item">
                    <h2 class="title">미스터리</h2>
                </li>
            </ul>
        </div>
        <div>
            <ul class="genre_rank">
                <li class="genre_item">
                    <a href="#">
                        <div class="genre_child_thum">
                            <img src="~/Content/Images/img4.jpg" />
                        </div>
                        <div class="info_area">
                            <p class="ranking"><em class="rank">1</em></p>
                            <p class="title_group">
                                <span class="title">로맨스 랭킹 1</span>
                            </p>
                            <p class="info_group">
                                <span class="author">작가</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="genre_item">
                    <a href="#">
                        <div class="genre_child_thum">
                            <img src="~/Content/Images/img7.jpg" />
                        </div>
                        <div class="info_area">
                            <p class="ranking"><em class="rank">2</em></p>
                            <p class="title_group">
                                <span class="title">로맨스 랭킹 2</span>
                            </p>
                            <p class="info_group">
                                <span class="author">작가</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="genre_item">
                    <a href="#">
                        <div class="genre_child_thum">
                            <img src="~/Content/Images/img8.jpg" />
                        </div>
                        <div class="info_area">
                            <p class="ranking"><em class="rank">3</em></p>
                            <p class="title_group">
                                <span class="bullet_wrap ">
                                    <span class="bullet_up">UP</span>
                                </span>
                                <span class="title">로맨스 랭킹 3</span>
                            </p>
                            <p class="info_group">
                                <span class="author">작가</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="genre_item">
                    <a href="#">
                        <div class="genre_child_thum">
                            <img src="~/Content/Images/img10.jpg" />
                        </div>
                        <div class="info_area">
                            <p class="ranking"><em class="rank">4</em></p>
                            <p class="title_group">
                                <span class="bullet_wrap ">
                                    <span class="bullet_up">UP</span>
                                </span>
                                <span class="title">로맨스 랭킹 4</span>
                            </p>
                            <p class="info_group">
                                <span class="author">작가</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="genre_item">
                    <a href="#">
                        <div class="genre_child_thum">
                            <img src="~/Content/Images/img11.jpg" />
                        </div>
                        <div class="info_area">
                            <p class="ranking"><em class="rank">5</em></p>
                            <p class="title_group">
                                <span class="title">로맨스 랭킹 5</span>
                            </p>
                            <p class="info_group">
                                <span class="author">작가</span>
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="genre_rank">
                <li class="genre_item">
                    <a href="#">
                        <div class="genre_child_thum">
                            <img src="~/Content/Images/img11.jpg" />
                        </div>
                        <div class="info_area">
                            <p class="ranking"><em class="rank">1</em></p>
                            <p class="title_group">
                                <span class="bullet_wrap ">
                                    <span class="bullet_up">UP</span>
                                </span>
                                <span class="title">로판 랭킹 1</span>
                            </p>
                            <p class="info_group">
                                <span class="author">작가</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="genre_item">
                    <a href="#">
                        <div class="genre_child_thum">
                            <img src="~/Content/Images/img12.jpg" />
                        </div>
                        <div class="info_area">
                            <p class="ranking"><em class="rank">2</em></p>
                            <p class="title_group">
                                <span class="title">로판 랭킹 2</span>
                            </p>
                            <p class="info_group">
                                <span class="author">작가</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="genre_item">
                    <a href="#">
                        <div class="genre_child_thum">
                            <img src="~/Content/Images/img100.jpg" />
                        </div>
                        <div class="info_area">
                            <p class="ranking"><em class="rank">3</em></p>
                            <p class="title_group">
                                <span class="bullet_wrap ">
                                    <span class="bullet_up">UP</span>
                                </span>
                                <span class="title">로판 랭킹 3</span>
                            </p>
                            <p class="info_group">
                                <span class="author">작가</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="genre_item">
                    <a href="#">
                        <div class="genre_child_thum">
                            <img src="~/Content/Images/img101.png" />
                        </div>
                        <div class="info_area">
                            <p class="ranking"><em class="rank">4</em></p>
                            <p class="title_group">
                                <span class="bullet_wrap ">
                                    <span class="bullet_up">UP</span>
                                </span>
                                <span class="title">로판 랭킹 4</span>
                            </p>
                            <p class="info_group">
                                <span class="author">작가</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="genre_item">
                    <a href="#">
                        <div class="genre_child_thum">
                            <img src="~/Content/Images/img102.jpg" />
                        </div>
                        <div class="info_area">
                            <p class="ranking"><em class="rank">5</em></p>
                            <p class="title_group">
                                <span class="title">로판 랭킹 5</span>
                            </p>
                            <p class="info_group">
                                <span class="author">작가</span>
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="genre_rank">
                <li class="genre_item">
                    <a href="#">
                        <div class="genre_child_thum">
                            <img src="~/Content/Images/img103.png" />
                        </div>
                        <div class="info_area">
                            <p class="ranking"><em class="rank">1</em></p>
                            <p class="title_group">
                                <span class="bullet_wrap ">
                                    <span class="bullet_up">UP</span>
                                </span>
                                <span class="title">판타지 랭킹 1</span>
                            </p>
                            <p class="info_group">
                                <span class="author">작가</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="genre_item">
                    <a href="#">
                        <div class="genre_child_thum">
                            <img src="~/Content/Images/img104.jpg" />
                        </div>
                        <div class="info_area">
                            <p class="ranking"><em class="rank">2</em></p>
                            <p class="title_group">
                                <span class="bullet_wrap ">
                                    <span class="bullet_up">UP</span>
                                </span>
                                <span class="title">판타지 랭킹 2</span>
                            </p>
                            <p class="info_group">
                                <span class="author">작가</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="genre_item">
                    <a href="#">
                        <div class="genre_child_thum">
                            <img src="~/Content/Images/img105.jpg" />
                        </div>
                        <div class="info_area">
                            <p class="ranking"><em class="rank">3</em></p>
                            <p class="title_group">
                                <span class="bullet_wrap ">
                                    <span class="bullet_up">UP</span>
                                </span>
                                <span class="title">판타지 랭킹 3</span>
                            </p>
                            <p class="info_group">
                                <span class="author">작가</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="genre_item">
                    <a href="#">
                        <div class="genre_child_thum">
                            <img src="~/Content/Images/img8.jpg" />
                        </div>
                        <div class="info_area">
                            <p class="ranking"><em class="rank">4</em></p>
                            <p class="title_group">
                                <span class="title">판타지 랭킹 4</span>
                            </p>
                            <p class="info_group">
                                <span class="author">작가</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="genre_item">
                    <a href="#">
                        <div class="genre_child_thum">
                            <img src="~/Content/Images/img12.jpg" />
                        </div>
                        <div class="info_area">
                            <p class="ranking"><em class="rank">5</em></p>
                            <p class="title_group">
                                <span class="title">판타지 랭킹 5</span>
                            </p>
                            <p class="info_group">
                                <span class="author">작가</span>
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="genre_rank">
                <li class="genre_item">
                    <a href="#">
                        <div class="genre_child_thum">
                            <img src="~/Content/Images/img10.jpg" />
                        </div>
                        <div class="info_area">
                            <p class="ranking"><em class="rank">1</em></p>
                            <p class="title_group">
                                <span class="bullet_wrap ">
                                    <span class="bullet_up">UP</span>
                                </span>
                                <span class="title">무협 랭킹 1</span>
                            </p>
                            <p class="info_group">
                                <span class="author">작가</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="genre_item">
                    <a href="#">
                        <div class="genre_child_thum">
                            <img src="~/Content/Images/img10.jpg" />
                        </div>
                        <div class="info_area">
                            <p class="ranking"><em class="rank">1</em></p>
                            <p class="title_group">
                                <span class="bullet_wrap ">
                                    <span class="bullet_up">UP</span>
                                </span>
                                <span class="title">무협 랭킹 1</span>
                            </p>
                            <p class="info_group">
                                <span class="author">작가</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="genre_item">
                    <a href="#">
                        <div class="genre_child_thum">
                            <img src="~/Content/Images/img10.jpg" />
                        </div>
                        <div class="info_area">
                            <p class="ranking"><em class="rank">1</em></p>
                            <p class="title_group">
                                <span class="bullet_wrap ">
                                    <span class="bullet_up">UP</span>
                                </span>
                                <span class="title">무협 랭킹 1</span>
                            </p>
                            <p class="info_group">
                                <span class="author">작가</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="genre_item">
                    <a href="#">
                        <div class="genre_child_thum">
                            <img src="~/Content/Images/img10.jpg" />
                        </div>
                        <div class="info_area">
                            <p class="ranking"><em class="rank">1</em></p>
                            <p class="title_group">
                                <span class="bullet_wrap ">
                                    <span class="bullet_up">UP</span>
                                </span>
                                <span class="title">무협 랭킹 1</span>
                            </p>
                            <p class="info_group">
                                <span class="author">작가</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="genre_item">
                    <a href="#">
                        <div class="genre_child_thum">
                            <img src="~/Content/Images/img10.jpg" />
                        </div>
                        <div class="info_area">
                            <p class="ranking"><em class="rank">1</em></p>
                            <p class="title_group">
                                <span class="bullet_wrap ">
                                    <span class="bullet_up">UP</span>
                                </span>
                                <span class="title">무협 랭킹 1</span>
                            </p>
                            <p class="info_group">
                                <span class="author">작가</span>
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="genre_rank">
                <li class="genre_item">
                    <a href="#">
                        <div class="genre_child_thum">
                            <img src="~/Content/Images/img10.jpg" />
                        </div>
                        <div class="info_area">
                            <p class="ranking"><em class="rank">1</em></p>
                            <p class="title_group">
                                <span class="bullet_wrap ">
                                    <span class="bullet_up">UP</span>
                                </span>
                                <span class="title">미스터리 랭킹 1</span>
                            </p>
                            <p class="info_group">
                                <span class="author">작가</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="genre_item">
                    <a href="#">
                        <div class="genre_child_thum">
                            <img src="~/Content/Images/img10.jpg" />
                        </div>
                        <div class="info_area">
                            <p class="ranking"><em class="rank">1</em></p>
                            <p class="title_group">
                                <span class="bullet_wrap ">
                                    <span class="bullet_up">UP</span>
                                </span>
                                <span class="title">미스터리 랭킹 1</span>
                            </p>
                            <p class="info_group">
                                <span class="author">작가</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="genre_item">
                    <a href="#">
                        <div class="genre_child_thum">
                            <img src="~/Content/Images/img10.jpg" />
                        </div>
                        <div class="info_area">
                            <p class="ranking"><em class="rank">1</em></p>
                            <p class="title_group">
                                <span class="bullet_wrap ">
                                    <span class="bullet_up">UP</span>
                                </span>
                                <span class="title">미스터리 랭킹 1</span>
                            </p>
                            <p class="info_group">
                                <span class="author">작가</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="genre_item">
                    <a href="#">
                        <div class="genre_child_thum">
                            <img src="~/Content/Images/img10.jpg" />
                        </div>
                        <div class="info_area">
                            <p class="ranking"><em class="rank">1</em></p>
                            <p class="title_group">
                                <span class="bullet_wrap ">
                                    <span class="bullet_up">UP</span>
                                </span>
                                <span class="title">미스터리 랭킹 1</span>
                            </p>
                            <p class="info_group">
                                <span class="author">작가</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="genre_item">
                    <a href="#">
                        <div class="genre_child_thum">
                            <img src="~/Content/Images/img10.jpg" />
                        </div>
                        <div class="info_area">
                            <p class="ranking"><em class="rank">1</em></p>
                            <p class="title_group">
                                <span class="bullet_wrap ">
                                    <span class="bullet_up">UP</span>
                                </span>
                                <span class="title">미스터리 랭킹 1</span>
                            </p>
                            <p class="info_group">
                                <span class="author">작가</span>
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="component_section">
        @Html.Action("CommentInclude", "Serial", new { Novelid = "00001", Volumeno = "1" })
    </div>
    <div class="component_section">
        <div class="component_head">
            <ul class="notice_title">
                <li>
                    <a href="/Home/Notice">
                        <h2 class="title">〉공지사항</h2>
                    </a>
                </li>
            </ul>
        </div>
        <div class="notice_content">
            <ul class="notice_table">
                @if (ViewBag.noticeList != null)
                {
                    foreach (var item in ViewBag.noticeList)
                    {
                        <li class="notice_item">
                            <a href="/Home/NoticeDetail?Noticeno=@item.NOTICENO" class="notice_name">
                                <p class="notice_item_title">
                                    <span>@item.NOTICETITLE</span>
                                </p>
                                <span class="date">@item.INSERTDT.ToString("yyyy.MM.dd")</span>
                            </a>
                        </li>
                    }
                }
                else
                {
                    <li class="notice_item">
                        <p class="notice_item_title">
                            <span>공지사항이 없습니다.</span>
                        </p>
                    </li>
                }
            </ul>
        </div>
    </div>
</main>
@section scripts{
    <script type="text/JavaScript">
    </script>
}